@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model EverestNerdEducationAndTrainingLLC.Models.BankDetails

<!doctype html>
<html lang="en">
<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        .classrow {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            margin: 0 -16px;
        }

        .col-25 {
            -ms-flex: 25%; /* IE10 */
            flex: 25%;
        }

        .col-50 {
            -ms-flex: 50%; /* IE10 */
            flex: 50%;
        }

        .col-75 {
            -ms-flex: 75%; /* IE10 */
            flex: 75%;
        }

        .col-25,
        .col-50,
        .col-75 {
            padding: 0 16px;
        }

        .classcontainer {
            background-color: #f2f2f2;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgrey;
            border-radius: 3px;
        }

        input[type=text] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        label {
            margin-bottom: 10px;
            display: block;
        }

        .icon-container {
            margin-bottom: 20px;
            padding: 7px 0;
            font-size: 24px;
        }

        .btn {
            background-color: #000000;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }

            .btn:hover {
                background-color: #45a049;
            }

        @*a {
            color: #2196F3;
        }*@

        hr {
            border: 1px solid lightgrey;
        }

        span.price {
            float: right;
            color: grey;
        }

        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
        @@media (max-width: 800px) {
            .classrow {
                flex-direction: column-reverse;
            }

            .col-25 {
                margin-bottom: 20px;
            }
        }
    </style>

</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div>

    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- serach form -->
    </div>

    <!--====== SEARCH BOX PART ENDS ======-->
    <!--====== PAGE BANNER PART START ======-->

    <section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8" style="background-image: url(https://images.pexels.com/photos/2680270/pexels-photo-2680270.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
        <div class="container classcontainer">
            <div class="row classrow">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Payment</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Payment</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->
    <!--====== CONTACT PART START ======-->

    <section>
         <div class="container" style="margin-top: 3%;">
            <h4 style="margin-top: 2%;">Bank Details</h4>
            <h6>Account No:</h6>
            <p>@Model.AccountNO</p>
            <h6>BankName:</h6>
            <p>@Model.BankName</p>
            <h6>PhoneNo:</h6>
            <p>@Model.PhoneNo</p>
            <h6>Email:</h6>
            <p>@Model.Email</p>
            <h6>Country:</h6>
            <p>@Model.Country</p>
            <h6>City:</h6>
            <p>@Model.City</p>
            @if (@Accessor.HttpContext.Session.GetString("IsUserLoggedIn") != null)
            {
            <button class="btn btn-primary"><a href="/Home/EditBankDetails/@Model.Id" style="color: white">Edit Bank Details</a></button>
            }
         </div>
    </section>

    <section>
        <div class="row">
            <div class="col-75">
                <div class="container">

                   

                        <form action="/Home/Index/">
                        <div class="row">
                            <div class="col-50">
                                <div class="col-50">
                                    <h3>Payment</h3>
                                    
                                    <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                                    <label for="ccnum">Credit card number</label>
                                    <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                                    <label for="expmonth">Exp Month</label>
                                    <input type="text" id="expmonth" name="expmonth" placeholder="September">
                                    <div class="row">
                                        <div class="col-50">
                                            <label for="expyear">Exp Year</label>
                                            <input type="text" id="expyear" name="expyear" placeholder="2018">
                                        </div>
                                        <div class="col-50">
                                            <label for="cvv">CVV</label>
                                            <input type="text" id="cvv" name="cvv" placeholder="352">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <input type="submit" value="Continue to checkout" class="btn">
                    </form>
                </div>
            </div>
            </div>
    </section>

    <!--====== FOOTER PART ENDS ======-->
    <!--====== BACK TO TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!--====== BACK TO TOP PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/WebsiteTemplate/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/WebsiteTemplate/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/WebsiteTemplate/js/bootstrap.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/WebsiteTemplate/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/WebsiteTemplate/js/jquery.magnific-popup.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="~/WebsiteTemplate/js/waypoints.min.js"></script>
    <script src="~/WebsiteTemplate/js/jquery.counterup.min.js"></script>


    <!--====== Nice Select js ======-->
    <script src="~/WebsiteTemplate/js/jquery.nice-select.min.js"></script>

    <!--====== Nice Number js ======-->
    <script src="~/WebsiteTemplate/js/jquery.nice-number.min.js"></script>

    <!--====== Count Down js ======-->
    <script src="~/WebsiteTemplate/js/jquery.countdown.min.js"></script>

    <!--====== Validator js ======-->
    <script src="~/WebsiteTemplate/js/validator.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="~/WebsiteTemplate/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="~/WebsiteTemplate/js/main.js"></script>

    <!--====== Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="~/WebsiteTemplate/js/map-script.js"></script>

</body>
</html>
