@model EverestNerdEducationAndTrainingLLC.Models.AboutUs
<!doctype html>
<html lang="en">
<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <!--<title>Edubin - LMS Education HTML Template</title>-->

    <!--====== Favicon Icon ======-->
    <!--<link rel="shortcut icon" href="~/WebsiteTemplate/images/favicon.png" type="image/png">-->

    <!--====== Slick css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/slick.css">-->

    <!--====== Animate css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/animate.css">-->

    <!--====== Nice Select css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/nice-select.css">-->

    <!--====== Nice Number css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/jquery.nice-number.min.css">-->

    <!--====== Magnific Popup css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/magnific-popup.css">-->

    <!--====== Bootstrap css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/bootstrap.min.css">-->

    <!--====== Fontawesome css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/font-awesome.min.css">-->

    <!--====== Default css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/default.css">-->

    <!--====== Style css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/style.css">-->

    <!--====== Responsive css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/responsive.css">-->


</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div>

    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- serach form -->
    </div>

    <!--====== SEARCH BOX PART ENDS ======-->
    <!--====== PAGE BANNER PART START ======-->

    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(https://i.pinimg.com/originals/c4/79/17/c4791737f58e269acaab99c9170b20a6.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>About Us</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->
    <!--====== ABOUT PART START ======-->

    <section id="about-page" class="pt-70 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50">
                        <h5>About us</h5>
                        <h2>@Model.Title</h2>
                    </div> <!-- section title -->
                    <div class="about-cont">
                        <p>@Model.Discription</p>
                    </div>
                </div> <!-- about cont -->
                <div class="col-lg-7">
                    <div class="about-image mt-50">
                        <img src="~/WebsiteTemplate/images/about/about-2.jpg" alt="About">
                    </div>  <!-- about imag -->
                </div>
            </div> <!-- row -->
            <div class="about-items pt-60">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-singel-items mt-30">
                            <span>01</span>
                            <h4>Why Choose us</h4>
                            <p>@Model.WhyChooseUs</p>
                        </div> <!-- about singel -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-singel-items mt-30">
                            <span>02</span>
                            <h4>Our Mission</h4>
                            <p>@Model.OurMission</p>
                        </div> <!-- about singel -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-singel-items mt-30">
                            <span>03</span>
                            <h4>Our vission</h4>
                            <p>@Model.OurVission</p>
                        </div> <!-- about singel -->
                    </div>
                </div> <!-- row -->
            </div> <!-- about items -->
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->
    <!--====== COUNTER PART START ======-->

    <div id="counter-part" class="bg_cover pt-65 pb-110" data-overlay="8" style="background-image: url(https://qph.fs.quoracdn.net/main-qimg-b250bee4592db0493077c7483d3a565d-pjlq)">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-counter text-center mt-40">
                        <span><span class="counter">@Model.StudentsEnrolled</span>+</span>
                        <p>Students enrolled</p>
                    </div> <!-- singel counter -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-counter text-center mt-40">
                        <span><span class="counter">@Model.CoursesUploaded</span>+</span>
                        <p>Courses Uploaded</p>
                    </div> <!-- singel counter -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-counter text-center mt-40">
                        <span><span class="counter">@Model.PeopleCertifie</span>+</span>
                        <p>People certifie</p>
                    </div> <!-- singel counter -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-counter text-center mt-40">
                        <span><span class="counter">@Model.GlobalTeachers</span>+</span>
                        <p>Global Teachers</p>
                    </div> <!-- singel counter -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

    <!--====== COUNTER PART ENDS ======-->
    <!--====== TEACHERS PART START ======-->

    @*<section id="teachers-part" class="pt-65 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50 pb-35">
                        <h5>Featured Teachers</h5>
                        <h2>Meet Our teachers</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="~/WebsiteTemplate/images/teachers/t-1.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html"><h6>Mark alen</h6></a>
                            <span>Vice chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="~/WebsiteTemplate/images/teachers/t-2.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html"><h6>Mark alen</h6></a>
                            <span>Vice chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="~/WebsiteTemplate/images/teachers/t-3.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html"><h6>Mark alen</h6></a>
                            <span>Vice chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="~/WebsiteTemplate/images/teachers/t-4.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html"><h6>Mark alen</h6></a>
                            <span>Vice chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="~/WebsiteTemplate/images/teachers/t-5.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html"><h6>Mark alen</h6></a>
                            <span>Vice chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="~/WebsiteTemplate/images/teachers/t-6.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html"><h6>Mark alen</h6></a>
                            <span>Vice chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="~/WebsiteTemplate/images/teachers/t-7.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html"><h6>Mark alen</h6></a>
                            <span>Vice chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="~/WebsiteTemplate/images/teachers/t-8.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html"><h6>Mark alen</h6></a>
                            <span>Vice chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>*@

    <!--====== TEACHERS PART ENDS ======-->
    <!--====== TEASTIMONIAL PART START ======-->

    @*<section id="testimonial" class="bg_cover pt-115 pb-120" data-overlay="8" style="background-image: url(https://www.screenflex.com/wp-content/uploads/2020/02/Library-edited2-R0-Library-02.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title pb-40">
                        <h5>Testimonial</h5>
                        <h2>What they say</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row testimonial-slied mt-40">
                <div class="col-lg-6">
                    <div class="singel-testimonial">
                        <div class="testimonial-thum">
                            <img src="~/WebsiteTemplate/images/testimonial/t-1.jpg" alt="Testimonial">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="testimonial-cont">
                            <p>Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet sem nibh id elit sollicitudirem </p>
                            <h6>Rubina Helen</h6>
                            <span>Bsc, Engineering</span>
                        </div>
                    </div> <!-- singel testimonial -->
                </div>
                <div class="col-lg-6">
                    <div class="singel-testimonial">
                        <div class="testimonial-thum">
                            <img src="~/WebsiteTemplate/images/testimonial/t-2.jpg" alt="Testimonial">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="testimonial-cont">
                            <p>Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet sem nibh id elit sollicitudirem </p>
                            <h6>Rubina Helen</h6>
                            <span>Bsc, Engineering</span>
                        </div>
                    </div> <!-- singel testimonial -->
                </div>
                <div class="col-lg-6">
                    <div class="singel-testimonial">
                        <div class="testimonial-thum">
                            <img src="~/WebsiteTemplate/images/testimonial/t-3.jpg" alt="Testimonial">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="testimonial-cont">
                            <p>Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet sem nibh id elit sollicitudirem </p>
                            <h6>Rubina Helen</h6>
                            <span>Bsc, Engineering</span>
                        </div>
                    </div> <!-- singel testimonial -->
                </div>
            </div> <!-- testimonial slied -->
        </div> <!-- container -->
    </section>*@

    <!--====== FOOTER PART ENDS ======-->
    <!--====== BACK TO TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!--====== BACK TO TOP PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/WebsiteTemplate/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/WebsiteTemplate/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/WebsiteTemplate/js/bootstrap.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/WebsiteTemplate/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/WebsiteTemplate/js/jquery.magnific-popup.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="~/WebsiteTemplate/js/waypoints.min.js"></script>
    <script src="~/WebsiteTemplate/js/jquery.counterup.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="~/WebsiteTemplate/js/jquery.nice-select.min.js"></script>

    <!--====== Nice Number js ======-->
    <script src="~/WebsiteTemplate/js/jquery.nice-number.min.js"></script>

    <!--====== Count Down js ======-->
    <script src="~/WebsiteTemplate/js/jquery.countdown.min.js"></script>

    <!--====== Validator js ======-->
    <script src="~/WebsiteTemplate/js/validator.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="~/WebsiteTemplate/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="~/WebsiteTemplate/js/main.js"></script>

    <!--====== Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="~/WebsiteTemplate/js/map-script.js"></script>

</body>
</html>
