@model EverestNerdEducationAndTrainingLLC.Models.BankDetails

<section style="padding: 5%">
    <div class="text-center">
        <h3>Edit Bank Details</h3>
</div>
    <form method="post" action="/Home/UpdateBankDetails/">
  <div class="form-group">
      <input type="hidden" name="Id" value="@Model.Id"/>
    <label for="exampleInputEmail1">AccountNO</label>
    <input type="text" class="form-control" name="AccountNO" id="exampleInputEmail1"  aria-describedby="emailHelp" placeholder="AccountNO" value="@Model.AccountNO">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">BankName</label>
    <input type="text" class="form-control" name="BankName" id="exampleInputPassword1" placeholder="BankName" value="@Model.BankName">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">PhoneNo</label>
    <input type="text" class="form-control" name="PhoneNo" id="exampleInputPassword1" placeholder="PhoneNo" value="@Model.PhoneNo">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="text" class="form-control" name="Email" id="exampleInputPassword1" placeholder="Email" value="@Model.Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Country</label>
    <input type="text" class="form-control" name="Country" id="exampleInputCatagory" placeholder="Country" value="@Model.Country">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">City</label>
    <input type="text" class="form-control" name="City" id="exampleInputCatagory" placeholder="City" value="@Model.City">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top: 2%">Update Details</button>
</form>
</section>

