@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model List<EverestNerdEducationAndTrainingLLC.Models.Teacher>

<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

            button:hover, a:hover {
                opacity: 0.7;
            }
    </style>
</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div>

    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- serach form -->
    </div>

    <!--====== SEARCH BOX PART ENDS ======-->
    <!--====== PAGE BANNER PART START ======-->

    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(http://library.wp.st-andrews.ac.uk/files/IMG_6329-e1556271924143.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Teachers</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Teachers</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->
    <!--====== TEACHERS PART START ======-->

    <section>
       
        
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="card">
                    <img src="@Model[0].ImageUrl" alt="John" style="width:100%">
                    <h1>@Model[0].Name</h1>
                    <p class="title">@Model[0].Profession</p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <p>
                        @Model[0].Discription
                    </p>
                </div>

            </div>
        </div>

        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="card">
                    <img src="@Model[1].ImageUrl" alt="John" style="width:100%">
                    <h1>@Model[1].Name</h1>
                    <p class="title">@Model[1].Profession</p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <p>
                        @Model[1].Discription
                    </p>
                </div>

            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="card">
                    <img src="@Model[2].ImageUrl" alt="John" style="width:100%">
                    <h1>@Model[2].Name</h1>
                    <p class="title">@Model[2].Profession</p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <p>
                        @Model[2].Discription
                    </p>
                </div>

            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="card">
                    <img src="@Model[3].ImageUrl" alt="John" style="width:100%">
                    <h1>@Model[3].Name</h1>
                    <p class="title">@Model[3].Profession</p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <p>
                        @Model[3].Discription
                    </p>
                </div>

            </div>
        </div>
        

        @*<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="card">
                    <img src="~/WebsiteTemplate/Hnet.com-image21.jpg" alt="John" style="width:100%">
                    <h1>Tej Sharma</h1>
                    <p class="title">M.sc Physics</p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                <p>
                    Tej Sharma is a Ph.D. candidate at the Department of Physics at Florida International University, specializing 
                    in biophysics and bioinformatics. He is highly interested in data science and data analysis too. Previously he 
                    taught physics at Queens College in NY as an adjunct lecturer. In addition, he had experience lecturing physics
                    in undergraduate level in Nepal and USA.
                </p>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="card">
                    <img src="~/WebsiteTemplate/Hnet.com-imagedd.jpg" alt="John" style="width:100%">
                    <h1>Bishwoyog Bhattarai</h1>
                    <p class="title">M.sc Biology</p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                <p>
                    Bishwoyog Bhattarai is Ph.D. candidate at Texas Tech University. He has experience teaching mathematics and 
                    agriculture to higher secondary and undergraduate level students in United states and Nepal.  His research focus
                    is to understand the physiological and molecular basis of drought and heat tolerance in peanut and cotton.
                </p>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="card">
                    <img src="~/WebsiteTemplate/images/teachers/t-5.jpg" alt="John" style="width:100%">
                    <h1>Mark John</h1>
                    <p class="title">Aerobics Head</p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                <p>
                    Mark John is Ph.D. candidate at Texas Tech University. He has experience teaching mathematics and agriculture to 
                    higher secondary and undergraduate level students in United states and Nepal.  His research focus is to 
                    understand the physiological and molecular basis of drought and heat tolerance in peanut and cotton.
                </p>
                </div>

            </div>
        </div>*@


    </section>

    <section id="teachers-page" class="pt-90 pb-120 gray-bg">
        <div class="container">
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="@item.ImageUrl" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter@(item.Id)"><h6>@item.Name</h6></a>
                            <span>@item.Profession</span>
                                @if (@Accessor.HttpContext.Session.GetString("IsUserLoggedIn") != null)
                                {
                                <button class="btn btn-primary"><a href="/Home/EditTeacher/@item.Id" style="color: white">Edit</a></button>
                                }
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                }


                @*<div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="~/WebsiteTemplate/Hnet.com-image21.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter2"><h6>Tej Sharma </h6></a>
                            <span>M.sc Physics</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>


                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="~/WebsiteTemplate/Hnet.com-imagedd.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter3"><h6>Bishwoyog Bhattarai</h6></a>
                            <span>M.sc Biology</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="~/WebsiteTemplate/images/teachers/t-5.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter4"><h6>Mark John</h6></a>
                            <span>Aerobics head</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>*@


            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <nav class="courses-pagination mt-50">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a href="#" aria-label="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item"><a class="active" href="#">1</a></li>
                            <li class="page-item"><a href="#">2</a></li>
                            <li class="page-item"><a href="#">3</a></li>
                            <li class="page-item">
                                <a href="#" aria-label="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>  <!-- courses pagination -->
                </div>
            </div>  <!-- row -->
        </div> <!-- container -->
    </section>



    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!--====== BACK TO TP PART ENDS ======-->
    <!--====== jquery js ======-->

    <script src="~/WebsiteTemplate/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/WebsiteTemplate/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/WebsiteTemplate/js/bootstrap.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/WebsiteTemplate/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/WebsiteTemplate/js/jquery.magnific-popup.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="~/WebsiteTemplate/js/waypoints.min.js"></script>
    <script src="~/WebsiteTemplate/js/jquery.counterup.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="~/WebsiteTemplate/js/jquery.nice-select.min.js"></script>

    <!--====== Nice Number js ======-->
    <script src="~/WebsiteTemplate/js/jquery.nice-number.min.js"></script>

    <!--====== Count Down js ======-->
    <script src="~/WebsiteTemplate/js/jquery.countdown.min.js"></script>

    <!--====== Validator js ======-->
    <script src="~/WebsiteTemplate/js/validator.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="~/WebsiteTemplate/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="~/WebsiteTemplate/js/main.js"></script>

    <!--====== Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="~/WebsiteTemplate/js/map-script.js"></script>

</body>

</html>
