@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EverestNerdEducationAndTrainingLLC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--====== Title ======-->
    <title>Edubin - LMS Education HTML Template</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/WebsiteTemplate/images/favicon.png" type="image/png">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/WebsiteTemplate/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="~/WebsiteTemplate/css/animate.css">

    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="~/WebsiteTemplate/css/nice-select.css">

    <!--====== Nice Number css ======-->
    <link rel="stylesheet" href="~/WebsiteTemplate/css/jquery.nice-number.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/WebsiteTemplate/css/magnific-popup.css">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/WebsiteTemplate/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/WebsiteTemplate/css/font-awesome.min.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/WebsiteTemplate/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/WebsiteTemplate/css/style.css">

    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="~/WebsiteTemplate/css/responsive.css">

    <style>
        img#mainlogo {
            width: 175px;
            height: 100px;
        }
        .navigation {
            background-color: #07294d;
        }
            .navigation.sticky {
                background-color: #07294d;
            }
            @*.navigation .navbar .navbar-nav li a {
                color: #ffffff;
            }*@

    </style>
</head>
<body>

    <!--====== PRELOADER PART START ======-->
    <!--====== HEADER PART START ======-->

    <header id="header-part">

        <div class="header-top d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact text-lg-left text-center">
                            <ul>
                                <li><img src="~/WebsiteTemplate/images/all-icon/map.png" alt="icon"><span>Gainesville VA,20155</span></li>
                                <li><img src="~/WebsiteTemplate/images/all-icon/email.png" alt="icon"><span>everestnedredu@gmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header-opening-time text-lg-right text-center">
                            <p>Opening Hours : Monday to Saturay - 8 Am to 5 Pm</p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header top -->

        <div class="header-logo-support pt-30 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="logo">
                            <a href="/Home/Index">
                                <img id="mainlogo" src="~/logogfinal.PNG" alt="Logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="support-button float-right d-none d-md-block">
                            <div class="support float-left">
                                <div class="icon">
                                    <img src="~/WebsiteTemplate/images/all-icon/support.png" alt="icon">
                                </div>
                                <div class="cont">
                                    <p>Need Help? call us free</p>
                                    <span>+3853689341</span>
                                </div>
                            </div>
                            <div class="button float-left">
                                <a href="/Home/ContactUs/" class="main-btn">Contact Now</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header logo support -->

        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="active" href="/Home/Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Home/AboutUs">About-us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Home/OurPrograms">Programs</a>
                                        <ul class="sub-menu">
                                            <li><a href="/Home/Physics">Physics</a></li>
                                            <li><a href="/Home/Biology">Biology</a></li>
                                            <li><a href="/Home/ComputerScience">Computer Science</a></li>
                                            <li><a href="/Home/Mathemetics">Mathmetics</a></li>
                                            <li><a href="/Home/ReadinAndWriting">Reading And Writing</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Home/News">Academic</a>
                                        <ul class="sub-menu">
                                            <li><a href="/Home/OurPrograms">Programs</a></li>
                                            <li><a href="/Home/OurTeachers">Our Teachers</a></li>
                                            <li><a href="/Home/Events">Events</a></li>
                                        </ul>
                                    </li>
                                    @if (@Accessor.HttpContext.Session.GetInt32("IsUserLoggedIn") == 1)
                                    {
                                        <li class="nav-item">
                                            <a href="/Payment/Index">Payment</a>
                                        </li>
                                    }
                                    <li class="nav-item">
                                        <a href="/Home/Career">Career</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Home/News">News</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Home/ContactUs">Contact</a>
                                    </li>
                                    @if (@Accessor.HttpContext.Session.GetInt32("IsUserLoggedIn") != 1)
                                    {
                                        <li class="nav-item">
                                            <a href="/User/SignUp">SignUp</a>
                                            <ul class="sub-menu">
                                                <li><a href="/User/SignUp">SignUp</a></li>
                                                <li><a href="/User/SignIn">Login</a></li>
                                            </ul>
                                        </li>
                                    }
                                    @if (@Accessor.HttpContext.Session.GetInt32("IsUserLoggedIn") == 1)
                                    {
                                        <li class="nav-item">
                                            <a href="#">@Accessor.HttpContext.Session.GetString("UserName")</a>
                                            <ul class="sub-menu">
                                                <li><a href="/User/EditCustomer?UserEmail=@Accessor.HttpContext.Session.GetString("Email")">Edit</a></li>
                                                <li><a href="/User/Logout">Logout</a></li>
                                            </ul>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </nav> <!-- nav -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                        <div class="right-icon text-right">
                            <ul>
                                <li><a href="#" id="search"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div> <!-- right icon -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>

    </header>

    <!--====== HEADER PART ENDS ======-->
    <!--====== SEARCH BOX PART START ======-->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - EverestNerdEducationAndTrainingLLC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <footer id="footer-part">
        <div class="footer-top pt-40 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-about mt-40">
                            <div class="logo">
                                <a href="#"><img id="mainlogo" src="~/logogfinal.PNG" alt="Logo" /></a>
                            </div>
                            <p>We at Everest nerd believe in the power of education to improve the quality of life and secure families financially. We have a diverse team working in education, finance, and recruiting. </p>
                            <ul class="mt-20">
                                <li><a href="https://www.facebook.com/Everstnerd"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div> <!-- footer about -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-link mt-40">
                            <div class="footer-title pb-25">
                                <h6>Sitemap</h6>
                            </div>
                            <ul>
                                <li><a href="/Home/Index/"><i class="fa fa-angle-right"></i>Home</a></li>
                                <li><a href="/Home/AboutUs/"><i class="fa fa-angle-right"></i>About us</a></li>
                                <li><a href="/Home/OurPrograms/"><i class="fa fa-angle-right"></i>Programs</a></li>
                                <li><a href="/Home/News/"><i class="fa fa-angle-right"></i>News</a></li>
                                <li><a href="/Home/Eventa/"><i class="fa fa-angle-right"></i>Event</a></li>
                            </ul>
                            <ul>
                                @*<li><a href="#"><i class="fa fa-angle-right"></i>Gallery</a></li>
                                    <li><a href="shop.html"><i class="fa fa-angle-right"></i>Shop</a></li>*@
                                <li><a href="/Home/OurTeachers/"><i class="fa fa-angle-right"></i>Teachers</a></li>
                                <li><a href="/Home/ContactUs/"><i class="fa fa-angle-right"></i>Contact</a></li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <!--<div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-link support mt-40">
                            <div class="footer-title pb-25">
                                <h6>Support</h6>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>FAQS</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Privacy</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Policy</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Support</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Documentation</a></li>
                            </ul>
                        </div>-->
                    <!-- support -->
                    <!--</div>-->
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-address mt-40">
                            <div class="footer-title pb-25">
                                <h6>Contact Us</h6>
                            </div>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="cont">
                                        <p>Gainesville VA,20155</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="cont">
                                        <p>+3853689341</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="cont">
                                        <p>everestnedredu@gmail.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div> <!-- footer address -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer top -->
        <!--<div class="footer-copyright pt-10 pb-25">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="copyright text-md-left text-center pt-15">
                            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a> </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="copyright text-md-right text-center pt-15">

                        </div>
                    </div>
                </div>-->
        <!-- row -->
        <!--</div>--> <!-- container -->
        <!--</div>--> <!-- footer copyright -->
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
